.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.time-sets button {
 margin: 20px;
}

.time {
  margin: auto;
  margin-top: -30px;
  margin-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  border: 10px solid azure;
  border-radius: 20px;
  height: 300px;
  margin-bottom: 50px;
}

.length {
  margin: 40px;
}

.session {
  margin-top: -30px;
}


